.red-bk{
	background-color: red;
}
.blue-bk{
	background-color: blue;
}
.yellow-bk{
	background-color: yellow;
}
.container2{
	display: grid;
	grid-template-columns: repeat(12, 1fr);
	grid-template-rows: auto auto;
	grid-column-gap:10px;
}
.item-1{
	grid-column-start: 1;
	grid-column-end: 4;
}
.item-2{
	grid-column-start: 4;
	grid-column-end: 10;
}
.item-3{
	grid-column-start: 10;
	grid-column-end: 13;
}
.item-4{
	grid-column-start: 1;
	grid-column-end: 5;
}
.item-5{
	grid-column-start: 5;
	grid-column-end: 8;
}
.item-6{
	grid-column-start: 8;
	grid-column-end: 13;
}